

body,html{
    color: #333;
    /*bgr*/
    width: 100%;
    height: 100%;
    line-height: 11px;
    opacity: 1;
    filter: alpha(opacity=100);
}

/* 板心?? */
.media_screen_1200 .wrap {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: #333;
}
ol{
    display: block;
    list-style-type: decimal;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    display: list-item;
    /*  */
    text-align: -webkit-match-parent;
}


/*右导航*/
.rightNavigation{
    position: fixed;
    height:100%;
    z-index: 999;
    top:0;
    right: 0;
    width: 30px;
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    background-color: black;
    opacity: 1;
    filter: alpha(opacity=100);
}
/*顶部导航*/
.titleTop{
    margin-bottom: 0;
    background: #f2f2f2;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0px;
    width: 100%;
    height:31px;
    z-index: 998;
    line-height: 99px;
}
/*-- Start: 顶端购物车栏        导航栏        null --*/

.titleTop .navigation{
    margin: 0 auto;
    width: 1200px;
    height: 31px;
}
.titleTop .navigation ul {

    width:453px;
    height:31px;
}

.titleTop .navigation ul li{
    /*padding-right: 10px;*/
    /*line-height: 31; !!! 不写px会报错的 文字全部跑到下面来了*/
    line-height: 31px;
    height:31px;
    font-size: 12px;
}

.titleTop .navigation ul li a{
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-top: 8px;

}

/*-- Start: 顶端购物车栏        注册        null --*/

.titleTop .navigation ul .sign_in{

    width:24px;

}


.titleTop .navigation ul li.sign_in{
    /*display: inline-block;*/


}

.titleTop .navigation ul a.sign_in{
}




/*-- End: 顶端购物车栏        注册        null --*/

/*-- Start: 顶端购物车栏        登录        null --*/

.titleTop .navigation ul .login_in{

    width:24px;
}


/*-- End: 顶端购物车栏        登录        null --*/

/*-- Start: 顶端购物车栏        我的订单        null --*/

.titleTop .navigation ul .list{

    width:87px;
}

.titleTop .navigation ul li.list{

    background: url("../img/xuebitulist_100x400.png");
    background-position: 20px -212px;
    position: relative;

}

.titleTop .navigation ul a.list{
    width: 48px;
    padding: 0px 0px 0px 38px;
}


/*-- End: 顶端购物车栏        我的订单        null --*/

/*-- Start: 顶端购物车栏        购物车        null --*/


.titleTop .navigation ul .shopping_cat{

    width:75px;
}

.titleTop .navigation ul li.shopping_cat {
    background: url("../img/xuebitulist_100x400.png");
    background-position: 12px -104px;
    position: relative;
    margin: 0px 15px 0px 0px;
}

.titleTop .navigation ul a.shopping_cat {

           text-align: left;
    width: 36px;
    padding: 0px 0px 0px 38px;
}

.titleTop .navigation ul .shopping_cat     div{
    display: none;
    height: 18px;
    left: -90px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 31px;
    width: 200px;
    z-index: 5;
    column-rule-color: rgb(153, 153, 153);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgb(238, 238, 238) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 0px none rgb(153, 153, 153);
    border-right: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
    border-left: 1px solid rgb(221, 221, 221);
    border-radius: 0 0 5px 5px;
    font: normal normal normal normal 12px / 18px tahoma, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(153, 153, 153) none 0px;
    padding: 18px 0px;
}
/*-- End: 顶端购物车栏        购物车        null --*/

/*-- Start: 顶端购物车栏        服务        null --*/

.titleTop .navigation ul li.serve {
    width: 64px;
    padding: 0px 15px 0px 0px;
    position: relative;

}
.titleTop .navigation ul a.serve {

    width: 48px;
    padding: 0px 0px  0px 15px;

    /*display: inline-block;*/
}

.titleTop .navigation ul li.serve i{
    display: block;/*???*/
    height: 5px;
    position: absolute;
    right: 0px;
    text-align: left;
    top: 14px;
    width: 7px;
    background: url("../img/xuebishangjia15x26.png");
    background-position: 0px 0px;

}

.titleTop .navigation ul li.serve ol {
    border-radius: 0 0 3px 3px;
    border: 1px  solid rgb(221,221,221);
    border-top: none;
    position: absolute;
    top: 31px;
    width: 100px;
    height: 90px;
    color: rgb(51,51,51);
    background: rgb(238,238,238);
    display: none;
    /*display: block;*/
}

.titleTop .navigation ul li.serve:hover ol {
    display: block;
}

.titleTop .navigation ul li.serve ol li {
    margin: 0px 0px 2px;
    height: 28px;

}

.titleTop .navigation ul li.serve ol li a{
    width: 60px;
    height: 28px;
    padding: 0px 20px;
    font: normal normal normal normal  12px /28px tahoma, arial, sans-serif;
    margin-top: 0px;
    /*
         font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: 28px;
     font-family: tahoma, arial, sans-serif;
*/

}

/*-- End: 顶端购物车栏        服务        null --*/

/*-- Start: 顶端购物车栏        我的小店        null --*/

.titleTop .navigation ul li.myShop{
    width: 84px;
    position: relative;
    /*text-align: center;*/
    padding: 0px 10px 0px 0px;
    background: url("../img/xuebitulist_100x400.png");
    background-position: 12px -250px;
}

.titleTop .navigation ul li.myShop ol.shop{
    position: absolute;
    width: 94px;
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 0 0 3px 3px;
    top:100%;
    left:0;
    border-top: none;
    display: none;
}

.titleTop .navigation ul li.myShop:hover ol.shop {
    display: block;
}
.titleTop .navigation ul li.myShop i{
    position: absolute;
    top: 14px;
    width: 7px;
    height: 5px;
    right: 0px;
    background: url("../img/xuebishangjia15x26.png");
    background-position: 0px 0px;

}


.titleTop .navigation ul li.myShop a{

    padding: 0px 0px 0px 35px;
    /*
        padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 35px;
    */
}

.titleTop .navigation ul li.myShop ol.shop :hover {
  display: block;
}

/*-- End: 顶端购物车栏        我的小店        XXX --*/
.header_mid{
    width: 100%;
    height: 144px;
    margin-top: 31px;
    /*line-height: 19px;*/
    opacity: 1;
    filter: alpha(opacity=100);
    position: relative;
    /*清掉浮动 后代继承*/
    /*float: left;*/
    clear: both;
}
.media_screen_1200 .wrap {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/*-- Start: LOGO+Search        LOGO        null --*/

.media_screen_1200 .wrap a.logo {
/*!!!*/
    display: block;
    height: 60px;
    width: 250px;
    /*!!!*/
    margin: 37px 0px 20px;
    background: rgba(0, 0, 0, 0) url("../img/LOGOYuanzdambqgiyde_414x102.png") no-repeat scroll 0% 0% / 207px padding-box border-box;
    /*

        background-image: url("http://s17.mogucdn.com/p1/160411/upload_ie4dmzlcgzrdqyleg4zdambqgiyde_414x102.png");
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: 207px;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    */
}
/*-- End: LOGO+Search        LOGO        null --*/
/*-- Start: LOGO + Search        Search        null --*/
.header_mid .searchLargebox{
    position: relative;
    width:502px;
    height:59px;
    margin:40px 0px 0px 99px ;

}

.searchLargebox .search{
    border: 1px solid rgb(58,58,58);

    width:500px;
    height:33px;
    color: rgb(51,51,51);
}

/*-- Start: Search         左        null --*/
.searchLargebox .search .searchGoods{
    width:70px;
    height:33px;
    position: relative;
}

.searchLargebox .search .searchGoods span{

    font: normal normal normal normal 12px / 32px tahoma, arial, sans-serif;
    /*
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: 32px;
    font-family: tahoma, arial, sans-serif;
    */
    /*必须要变成块级标签图标才能显示*/
    display: block;
    width:58px;
    height:33px;

    padding:0px 0px 0px 12px;
    cursor: pointer;
    background: url("../img/duozhangtudambqmeyde_100x400.png") no-repeat;
    background-position: 51px -17px;

}

.searchGoods ol{
    display: none;
}


/*-- End: Search         左        null --*/

.searchLargebox .search form{
    width: 500px;
}

/*-- Start: Search         中        null --*/

.searchLargebox .search form input.textSearch{
    color: rgb(153,153,153);
    font: normal normal normal normal 12px / 20px tahoma, arial, sans-serif;
    padding: 6px 10px 6px 6px;
    border: 0px;
    width:344px;
    height:21px;
}
/*-- End: Search         中        null --*/
/*-- Start: Search        右        null --*/
.searchLargebox .search form input.submit{
    background: url("../img/duozhangtudambqmeyde_100x400.png");
    background-position: 27px -57px;
    cursor: pointer;
    width:70px;
    height:33px;
    /*把前空格*/
    text-indent: -11990px;
    border: none;
    background-color: rgb(58,58,58);
}
/*-- End: Search        右        null --*/

/*-- Start: SearchList        null --*/
.searchLargebox .list{
    margin: 5px 0px 0px -16px;
}
.searchLargebox .list a{
    color: rgb(153,153,153);
    text-decoration: none;
    padding: 0px 0px 0px 16px;
    font: normal normal normal normal 12px / 12px tahoma, arial, sans-serif;
}
/*-- End: SearchList        null --*/
.wrap .qr_code{
    background: url("../img/qrCodeBox.gif");
    height:144px;
    width: 251px;
    position: relative;

}

.wrap .qr_code img{
    /* 不加 这个block 图片不能在框里面
     不是block 的img不能绝对定位??
     */
    display: block;
    position: absolute;
    top: 57px;
    left: 106px;

}

/*
主体
*/
/*-- Start: 内容主体        null        null --*/

.body_wrap{
    color: rgb(51, 51, 51);
    display: block;
    font-family: tahoma, arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 19.2px;
    width: 1440px;
    margin-bottom: 90px;
    position: relative;

}
.body_wrap .header_nav{
    height: 36px;
    width: 100%;
    border-bottom: 1px solid rgb(255,68,102);
    margin: -36px  0px 0px ;
}
.body_wrap .header_nav .wrap{
    width: 1200px;
    /*height: 36px;*/
    margin: 0px 120px;
}
.body_wrap .nav_list_wrap .nav_list .home{
    list-style: none;
    width: 225px;
    background-color: #ff4466;
    color: white;
    border-radius: 5px 5px 0 0;
    font: normal normal bold normal 14px / 36px 宋体, sans-serif;
    margin: 0px 30px 0px 0px;
    text-align: center;
}
.body_wrap .nav_list .navShop{
    width: 58px;
    height: 36px;
    padding: 0 15px;
    font: normal normal bold normal 14px / 36px 宋体, sans-serif;

}
.body_wrap .nav_list .navShop a{
    height: 18px;
    width: 28px;
    margin-top: 7px;
    padding: 2px  15px;
    font: normal normal bold normal 14px / 18px 宋体, sans-serif;
}



/* 导航栏 */

.body_wrap .mgj_primary {
    bottom: 0px;
    color: rgb(51, 51, 51);
    height: 550px;
    left: 0px;
    position: relative;
    right: 0px;
    top: 0px;
    width: 1440px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 720px 275px;
    transform-origin: 720px 275px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 19.2px tahoma, arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
}

.body_wrap .primary_shadow {
    bottom: 0px;
    color: rgb(51, 51, 51);
    height: 550px;
    left: 0px;
    position: relative;
    right: 0px;
    top: 0px;
    width: 1200px;
    z-index: 9;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 600px 275px;
    transform-origin: 600px 275px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 19.2px tahoma, arial, sans-serif;
    margin: 0px 120px;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
}

.body_wrap .primary_fadebg {
    color: rgb(51, 51, 51);
    float: left;
    height: 549px;
    width: 223px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 112.5px 275px;
    transform-origin: 112.5px 275px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 0px none rgb(51, 51, 51);
    border-right: 1px solid rgb(255, 0, 0);
    border-bottom: 1px solid rgb(255, 0, 0);
    border-left: 1px solid rgb(255, 0, 0);
    font: normal normal normal normal 12px / 19.2px tahoma, arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}

.body_wrap  .primary_nav_list{
    color: rgb(51, 51, 51);
    height: 550px;
    width: 223px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 111.5px 275px;
    transform-origin: 111.5px 275px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 19.2px tahoma, arial, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}

/*-- Start:         ul 次级导航览整表*/
.body_wrap  .primary_nav_li{
    bottom: 0px;
    color: rgb(51, 51, 51);
    cursor: default;
    float: left;
    height: 39px;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 223px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 111.5px 19.5px;
    transform-origin: 111.5px 19.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 19.2px tahoma, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}

.body_wrap  .primary_nav_li:hover {
border: 1px solid #CCCCCC;
}
/*-- Start: 顶端购物车栏        ul 次级导航览整表        dl每行定义列表。 --*/

 .body_wrap  .primary_nav_li .nav_warp {
    background-position: 0px 0px;
    color: rgb(51, 51, 51);
    cursor: default;
    display: inline-block;
    height: 20px;
    text-align: left;
    vertical-align: top;
    width: 193px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 101.5px 19.5px;
    transform-origin: 101.5px 19.5px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 19.2px tahoma, arial, sans-serif;
    list-style: none outside none;
    margin: 0px 10px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 9px 0px 10px 10px;
}

/*-- Start: ul 次级导航览整表         --*/

.primary_nav_li .primary_nav_dt {
    color: rgb(51, 51, 51);
    cursor: default;
    float: left;
    height: 20px;
    max-width: 42px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 42px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 21px 10px;
    transform-origin: 21px 10px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal bold normal 14px / 20px 宋体, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
}

/*-- Start: ul 次级导航览整表         --*/

.primary_nav_li .primary_nav_dt_a {
    color: rgb(51, 51, 51);
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal bold normal 14px / 20px 宋体, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}

/*-- Start: ul 次级导航览整表         --*/

.primary_nav_li .primary_nav_dd {
    color: rgb(51, 51, 51);
    cursor: default;
    float: left;
    height: 20px;
    max-width: 151px;
    text-align: left;
    white-space: nowrap;
    width: 151px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 75.5px 10px;
    transform-origin: 75.5px 10px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 20px tahoma, arial, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
}

/*-- Start: li 单行        dd  描述        span 行内元素进行组合 --*/

.primary_nav_li .primary_nav_dd .primary_nav_dd_span {
    /*color: rgb(51, 51, 51);*/
    /*cursor: default;*/
    display: block;
    /*float: left;*/
    /*height: 20px;*/
    text-align: left;
    white-space: nowrap;
    width: 200px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 100px 10px;
    transform-origin: 100px 10px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 20px tahoma, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
}

.primary_nav_dd_a_red {
    color: rgb(255, 68, 102);
    display: block;
    float: left;
    height: 14px;
    max-width: 48px;
    text-align: left;
    text-decoration: none;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
    /*width: 36px;*/
    column-rule-color: rgb(255, 68, 102);
    /*perspective-origin: 18px 7px;*/
    /*transform-origin: 18px 7px;*/
    border: 0px none rgb(255, 68, 102);
    font: normal normal normal normal 12px / 14px 宋体, sans-serif;
    list-style: none outside none;
    margin: 3px 0px 0px;
    outline: rgb(255, 68, 102) none 0px;
    overflow: hidden;
}

.mgj_primary_ins {
    color: rgb(51, 51, 51);
    cursor: default;
    display: block;
    float: left;
    height: 12px;
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
    width: 0px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 0.5px 6px;
    transform-origin: 0.5px 6px;
    border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 0px none rgb(51, 51, 51);
    border-left: 1px solid rgb(216, 216, 216);
    font: normal normal normal normal 0px / 20px tahoma, arial, sans-serif;
    list-style: none outside none;
    margin: 4px 7px 0px;
    outline: rgb(51, 51, 51) none 0px;
}

.primary_nav_dd_a_gray {
    color: rgb(102, 102, 102);
    display: block;
    float: left;
    height: 14px;
    max-width: 48px;
    text-align: left;
    text-decoration: none;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
    /*width: 48px;*/
    column-rule-color: rgb(102, 102, 102);
    /*perspective-origin: 24px 7px;*/
    /*transform-origin: 24px 7px;*/
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal normal 12px / 14px 宋体, sans-serif;
    list-style: none outside none;
    margin: 3px 0px 0px;
    outline: rgb(102, 102, 102) none 0px;
    overflow: hidden;
}/*#A_8*/

/*-- Start: ul 次级导航览整表        dl每行定义列表        i  每行底线 --*/

.primary_nav_li  .nav_warp .primary_bottomLine {
    position: absolute;
    left: 0;
    bottom: -1px;
    /*height: 2px;*/
    width: 100%;
    color: rgb(51,51,51);
    z-index: 200;
    border-top: 1px dashed rgb(207,207,207);
}

/*-- Start: div 分区  二级导航最大块     li  有序列表  第一行     div  分区  显示影藏区域  --*/
.primary_fadebg .primary_nav_li  .rightView {
    position: absolute;
    display: none;
    left: 223px;
    width: 290px;
    height: 528px;
    padding-bottom: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    z-index: 22;
}

.primary_fadebg .primary_nav_li  .rightView.redBG {
 background-color: #0fb200;
}

.primary_fadebg .primary_nav_li:hover  .rightView {
    display: block;
}

.primary_fadebg .rightView .nav-more-wrap {
    width: 250px;
    margin: 14px 20px 20px;
    /*!!!*/
    max-height: 90px;
    overflow: hidden;
}

.primary_fadebg .nav-more-wrap dt {
    height: 14px;
    line-height: 14px;
    color: #333;
    /*font-family: 14px;*/
    font-family: "宋体";
    font-size: 14px;
    font-weight: 700;
}

.primary_fadebg .nav-more-wrap dd {
    margin: 2px 0 0 -20px;
}

.primary_fadebg .nav-more-wrap a {
    float: left;
    margin: 12px 0 0 20px;
    font-size: 12px;
}



.primary_fadebg .nav-more-wrap a.hot {
    color: #f36;
}

.primary_fadebg  .rightView  .nav-more-pic{

    max-height: 130px;
    width: 250px;
    margin: 18px 20px 20px;
}


.primary_fadebg  .nav-more-wrap .nav-more-pic img {

    width: 250px;
    max-width: 250px;
    height: 130px;
    border: 0;
}



/*-- End: div 分区  二级导航最大块     li  有序列表  第一行     div  分区  显示影藏区域  --*/



/*-- End: ul 次级导航览整表        dl每行定义列表        i  每行底线 --*/

/*-- Start: div  中首屏最大块         div  分块    轮播图& ad  --*/
.mgj_primary .primary_main {
    margin-top: 20px;
    width: 975px;
    height: 530px;
}

.primary_main_banner {
    width: 715px;
    margin-left: 20px;
    height: 530px;
    border: none;
    position: relative;
}

.primary_main_banner .mslide_content_box {
    position: relative;
    overflow: hidden;

}
/*-- Start: div 分区  左边        div  分区  内容盒子        div  分区  轮播img^a^div轮播图外面轮廓位置div  --*/
.primary_main_banner .mslide_content_box .mslide_banners {
    position: relative;
    /*background-color: #fff;*/
    width: 100%;
    height: 100%;

}

.primary_main_banner .mslide_banners .mslide_banner {
    display: block;
    width: 100%;
    height: 100%;
    /* !!!! */
    position: absolute;
    /*top: 0;*/
    /*left: 0;*/
}

/*.primary_main_banner .mslide_banners .mslide_banner.top{*/
    /*!*z-index: 1;*!*/
/*}*/

.primary_main_banner .mslide_banners .mslide_banner img{
    display: block;

    width: 715px;
    height: 530px;

}


/*-- Start: div 分区  轮播最外        div  分区  轮播盒子        a  从一个页面跳转到另一个  左右按钮  --*/


/*.mslide_content_box .mslide_banner {*/
    /*display: none;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*z-index: 0;*/
    /*!*overflow: hidden;*!*/
/*}*/



.mslide_content_box .mslide_banner_show {
    display: block;
    z-index: 1;
    width: 100%;
    height: 100%;
}




/*.primary_main_banner .mslide_banners a{*/

/*}*/


/*.primary_main_banner .mslide_content_box  a.msilde_toggle_btn {*/

    /*position: absolute;*/
    /*top: 50%;*/

    /*width: 28px;*/
    /*height: 45px;*/
    /*margin-top: -24px;*/

    /*opacity: .4;*/
    /**/

/*}*/

/* 左右按钮 */
.mslide_content_box .msilde_toggle_btn {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -24px;
    width: 28px;
    height: 45px;
    z-index: 10;
    opacity: .4;
    filter: alpha(opacity=40);
    /*background: url("../img/JiantouSandian.png");*/
}

/*左按钮*/
.mslide_content_box .msilde_prev_btn {
    left: 0;
    background-position: 0 0;
}

/*右按钮*/
.mslide_content_box .msilde_next_btn {
    right: 0;
    background-position: -50px 0;
}


.mslide_content_box .msilde_toggle_btn, .mslide_content_box .dot_default, .anim_msilde_dot_box .dot_show_img {
    background: url(../img/JiantouSandian.png) no-repeat;
}

/* 轮播底部导图*/
/*.msilde_dot_box {*/
    /*cursor: default;*/
    /*position: absolute;*/
    /*bottom: 10px;*/
    /*left: 50%;*/
    /*z-index: 10;*/
    /*padding: 5px 10px;*/
    /*background-color: #fff;*/
    /*-o-border-radius: 15px;*/
    /*-webkit-border-radius: 15px;*/
    /*-moz-border-radius: 15px;*/
    /*-ms-border-radius: 15px;*/
    /*border-radius: 15px;*/
    /*-webkit-box-shadow: 0 1px 4px #999;*/
    /*-moz-box-shadow: 0 1px 4px #999;*/
    /*box-shadow: 0 1px 4px #999;*/
/*}*/


/*.mslide_content_box .anim_msilde_dot_box .dot_default {*/
    /*width: 20px;*/
    /*height: 20px;*/
    /*padding: 0;*/
    /*background-position: -97px -17px;*/
/*}*/


/*!*-- Start: div 分区  轮播最外        div  分区  轮播盒子        div  分区  原点盒子  --*!*/


/*!*.mslide_content_box .mslide_banner img {*!*/
    /*!*display: block;*!*/
    /*!*width: 715px;*!*/
    /*!*height: 530px;*!*/
/*!*}*!*/



/*.primary_nav_dd_a3 {*/
    /*color: rgb(255, 68, 102);*/
    /*display: block;*/
    /*float: left;*/
    /*height: 14px;*/
    /*max-width: 48px;*/
    /*text-align: left;*/
    /*text-decoration: none;*/
    /*text-overflow: ellipsis;*/
    /*vertical-align: top;*/
    /*white-space: nowrap;*/
    /*!*width: 36px;*!*/
    /*column-rule-color: rgb(255, 68, 102);*/
    /*!*perspective-origin: 18px 7px;*!*/
    /*!*transform-origin: 18px 7px;*!*/
    /*border: 0px none rgb(255, 68, 102);*/
    /*font: normal normal normal normal 12px / 14px 宋体, sans-serif;*/
    /*list-style: none outside none;*/
    /*margin: 3px 0px 0px;*/
    /*outline: rgb(255, 68, 102) none 0px;*/
    /*overflow: hidden;*/


    /*!*width: 19.3438px;*!*/
    /*!*perspective-origin: 9.67188px 7px;*!*/
    /*!*transform-origin: 9.67188px 7px;*!*/
/*}!*#A_10*!*/


/*-- Start: div 分区  首屏内容满宽        div  分区  右区        div  分区  ad  --*/
.mgj_primary   .primary_main_sale {
    overflow: hidden;
    padding-top: 1px;
    width: 218px;
    height: 527px;
    /*overflow: hidden;*/

}


/*-- Start: div 分区  首屏内容满宽        div  分区  ad        li  标签定义列表项  ad单表  --*/
.mgj_primary .primary_main_sale .sale_li {

    margin: 20px 19px 0;/*T - ho - B*/

    border-bottom: 1px dashed #ddd;

}

/*-- Start: div 分区  首屏内容满宽        div  分区  ad^div        a  跳转    --*/
.mgj_primary .primary_main_sale .sale_box {

    position: relative;

    width: 180px;
    height: 220px;
    margin: 0 auto 23px;

}








/*-- Start: div 分区  右区              ul  标签定义无序列表。  广告  --*/
.primary_main .sale_list {

}

/*-- Start: div 分区  内容主体              div  分区  616活动满宽  --*/
.body_wrap ._site_banner_616_center {

    width: 1200px;
    height: 330px;
    margin: 60px auto;

}


.body_wrap ._site_banner_616_center li{
    display: block;

    float: left;
    width: 16.324%;
    height: 162px;

    overflow: hidden;
    margin: 0 4px 4px 0;


}

.body_wrap ._site_banner_616_center li.main{

    height: 216px;
    margin-top: -56px;



}



/*-- End: 内容主体        null        null --*/

/*-- Start: 主体展示区        首区        null --*/
.media_screen_1200 .special_con {
    width: 1200px;
    height: 300px;
    border-top: 1px solid #0c0c0c;
    margin-top: 80px;
}

.special_con .sp_col1 {
    width: 225px;
    height: 295px;
    margin-right: 20px;
    overflow: hidden;
    border-bottom: 5px solid #f46;
}

.special_con .sp_col1 .timer-title, .special_con .sp_col1 .timer-con, .special_con .sp_col1 .price-con {
    z-index: 2;
    position: absolute;
    display: block;
    _text-decoration: none!important;
}

.special_con .sp_col1 a{
    position: relative;
    display: block;
    top: 0;
    left: 0;

    width: 223px;
    height: 295px;

    border: 1px solid #ddd;
    border-top: none;
    border-bottom: none;

}

.sp_col1 a img {
    position: relative;
    margin-top: 50px;
    height: 245px;
    width: 223px;

    /*vertical-align: middle;*/
}

.sp_col1 .timer-title {
    width: 100px;
    height: 24px;
    top:24px;
    right: 118px;

    text-align: right;
    background: url("../img/xianshikuaiqiang.png") right top no-repeat;

}

.sp_col1 .timer-con {
    top: 24px;
    right: 0;

    width: 110px;
    height: 25px;
    line-height: 22px;

}

/*-- Start: div 分区  首区        span  小行div的分区作用   倒计时块        span  时分秒  小型div  --*/
/*
    !!! 字体处理教科书
*/
.special_con .timer-con .timer-hh, .special_con  .timer-con .timer-mm, .special_con  .timer-con .timer-ss {


    height: 24px;
    line-height: 26px;
    width: 24px;
    /* text-align: center; */
    font-size: 14px;
    font-family: "Microsoft YaHei";
    font-weight: 700;
    -o-border-radius: 2px;
    /* -webkit-border-radius: 2px; */
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    background-color: #f46;
    color: #fff;
}

.special_con  .timer-con span {
    /* display: block; */
    
    float: left;
    width: 12px;
    text-align: center;
    font-size: 16px;
    color: #f46;
    vertical-align: top;
}

.special_con .sp_col23_con {

    width: 575px;
    height: 300px;
    overflow: hidden;

}

.special_con .sp_col23_con .sp_col2,
.special_con .sp_col2 a{
display: block;
width: 335px;
height: 300px;
}

.special_con .sp_col23_con .sp_col3 {
    width: 240px;
    height: 300px;
    overflow: hidden;
    /*!!! 北景颜色 透明*/
    background-color: transparent;
}

.special_con .sp_col3 a{

    display: block;
}


.special_con .sp_col4 {
    float: right;
    width: 360px;
    height: 300px;
    overflow: hidden;
}

.special_con .sp_col4 a.first_child {
    margin-top: 0;
}
.special_con .sp_col4 a {
    width: 360px;
    height: 145px;
    display: block;
    margin-top: 10px;
}

/*-- End: 主体展示区        首区        null --*/
/*-- Start: div 分区  板心     div  分区  专题 --*/
.media_screen_1200 .wrapFocus {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.wrapFocus .ntpl_1 {
    display: block;
    margin-top: 80px;
}

/*???写这个代码的目的!!!*/
.fade-in {
    opacity: 1;
    transition: opacity 300ms ease-in 0s;
    -moz-transition: opacity 300ms ease-in 0s;
    -webkit-transition: opacity 300ms ease-in 0s;
    -o-transition: opacity 300ms ease-in 0s;
}

.wrapFocus .h_title {
    position: relative;
    overflow: hidden;

    height: 32px;
    margin: 15px 0;

    text-align: center;
}


.h_title .ht_bg_con {
    /*user-select: none;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    z-index: 0;
    height: 12px;
    left: 0;
    margin-top: 10px;
    float: left;
    width: 492px;
    overflow: hidden;
    _position: relative;
    _margin-bottom: -22px;
    /*_top: 0;*/
    /*_margin-top: 10px;*/
}
.wrapFocus .ht_bg_con .hbg_l,
.wrapFocus .ht_bg_con .hbg_r,
.wrapFocus .ht_bg_con .hbg_m {
    background-image: url(../img/focusLine12x60.png);
    background-repeat: no-repeat;
    height: 11px;
    display: block;

}

.h_title .ht_bg_con .hbg_l {
    padding: 0 0 0 12px;
    background-position: 0 0;
    background-repeat: no-repeat!important;
}

.h_title .ht_bg_con .hbg_r {
     padding: 0 12px 0 0;
     background-position: right -24px;
    background-repeat: no-repeat!important;
}

.h_title .ht_bg_con .hbg_m {
     padding: 0;
     background-position: 0 -12px;
     background-repeat: repeat-x!important;
    /*_background-repeat: repeat-x!important;*/
    /*_width: 1176px;*/
}

.h_title .ht_t_con {
    float: left;
    position: relative;
    z-index: 2;
    display: inline-block;
    _display: inline;
    _zoom: 1;
    overflow: hidden;
    height: 32px;
    line-height: 32px;
    font-size: 24px;
    text-align: center;
    vertical-align: top;
    margin: 0;
    padding: 0 15px;
    color: transparent;
    text-indent: -9999px;
    width: 186px;
    min-width: 186px;
    background-position: center 2px;
    background-repeat: no-repeat;
    background-size: 186px 25px;
}



/*-- Start: div 分区  主体内容     li    专题     div  分区  模块内容  --*/

.ntpl_1 .nptl_con {
    overflow: hidden;
    height: 500px;

}




.ntpl_1  .nptl_con .nptl_col1 {
    width: 223px;
    border: 1px solid #ddd;
    height: 498px;
    overflow: hidden;
    float: left;
}

.ntpl_1 .nptl_col1 .covered_pic {
    margin: 17px auto 7px;
    width: 176px;
    height: 176px;
    overflow: hidden;
}

.wrapFocus .nptl_col1  a{
    display: block;

}
.wrapFocus .nptl_col1 img{

    display: block;
    width: 170px;
    height: 170px;
    margin: 3px auto 0;
}

.ntpl_1 .nptl_col1 .btm_txt_con {
    display: block;
    width: 210px;
    margin: 0 auto;
}

.ntpl_1 .nptl_col1 .btm_txt_con li {
    float: left;
    margin: 10px 0 0;
    height: 20px;
    width: 70px;
    text-align: center;
    overflow: hidden;
    -o-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.ntpl_1 .nptl_col2 {
    width: 955px;
}

/*-- Start: li  标签定义列表项目。  第一专题     div   分区  第二列     div  分区  第一行  --*/
.ntpl_1 .nptl_col2 .nptl_c2_row1 {
    height: 330px;
    margin: 0 0 20px;

}
.ntpl_1 .nptl_c2_row1 .nptl2_mt_slider {
    overflow: hidden;
    position: relative;
}

.ntpl_1 .nptl_c2_row1 .mt_slider_view_con {
    z-index: 0;
    position: relative;
    margin: 0 auto;
    height: 330px;
    width: 955px;
    overflow: hidden;
    white-space: nowrap;
}


.ntpl_1 .nptl2_mt_slider .mt_slider_view_con ul {
    height: 330px;
    width: 2000px;
    white-space: nowrap;
}

.ntpl_1 .nptl_col2 .nptl_c2_row1 .nptl2_mt_slider .mt_slider_view_con ul li, .ntpl_1 .nptl_col2 .nptl_c2_row1 .nptl2_mt_slider .mt_slider_view_con ul li a {
    display: block;
    width: 305px;
    height: 330px;
}

.ntpl_1 .nptl_col2 .nptl_c2_row1 .nptl2_mt_slider .mt_slider_view_con ul li {
    float: left;
    margin: 0 20px 0 0;
}

.ntpl_1 .nptl_col2 .nptl_c2_row2 {
    height: 150px;
    overflow: hidden;
    text-align: center;
}

.ntpl_1 .nptl_col2 .nptl_c2_row2 ul li a img {
    display: block;
    float: left;
    height: 150px;
    width: 130px;

}


/*.nptl_c2_row2 ul li {*/
/*}*/
/*.nptl_c2_row2 ul li a {*/

/*}*/
/*.nptl_c2_row2 ul li a>span span {*/

/*}*/

.nptl_c2_row2 ul li,
.nptl_c2_row2 ul  a {
    width: 305px;
    height: 150px;
    display: block;
}




.ntpl_1 .nptl_col2 .nptl_c2_row2 ul li a .r_desc {
    display: block;
    width: 165px;
    font-family: "宋体",sans-serif;
    font-size: 14px;
    padding-top: 50px;
}

.ntpl_1 .nptl_col2 .nptl_c2_row2 ul li a .r_desc span {
    display: block;
    height: 24px;
    line-height: 24px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    _width: 100%;
    color: #333;
}

.ntpl_1 .nptl_col2 .nptl_c2_row2 ul li a .r_desc span.t_btm {
    color: #999;
}


/*-- End: 主体内容    专题     专题一 --*/


/*-- Start: 主体内容    专题     专题二 --*/


.wrapFocus .ntpl_2 {
    display: block;
    margin-top: 80px;
}

.ntpl_2 .nptl_col1 {
    width: 225px;
    height: 498px;
    float: left;
    background-color: #fff;
}

.ntpl_2 .nptl_col1 .ad_up {
    float: left;
    overflow: hidden;
    border: 1px solid #ddd;
    display: block;
    height: 254px;
    _height: 252px;
    width: 223px;
    cursor: pointer;
    margin-bottom: -1px;
    text-align: center;
}

.ntpl_2 .nptl_col1 .ad_up img {
    display: block;
    width: 183px;
    height: 213px;
    margin: 20px auto 0;
}



.ntpl_2 .nptl_col1 .ad_btm_item {
    width: 111px;
    height: 60px;
    border: 1px solid #ddd;
    margin: 0 -1px -1px 0;
    text-align: center;
    float: left;
}

.ntpl_2 .nptl_col1 .ad_btm_item .hover_cover {
    z-index: 1;
    visibility: hidden;
    background-color: #ccc;
    filter: alpha(opacity=15);
    opacity: .15;
    margin-top: -60px;
}

.ntpl_2 .nptl_col1 .ad_btm_item img, .ntpl_2 .nptl_col1 .ad_btm_item .hover_cover {
    display: block;
    width: 111px;
    height: 60px;
}

.ntpl_2 .nptl_col2 {
    float: right;
    width: 955px;

}

.ntpl_2 .nptl_col2 .col_long_pic, .ntpl_2 .nptl_col2 .col_long_pic a, .ntpl_2 .nptl_col2 .col_long_pic img {
    display: block;
    width: 305px;
    height: 500px;


}

.ntpl_2 .nptl_col2 .col_long_pic img {
    border: none;
    -webkit-box-shadow: 0 0 1px #ddd;
    -moz-box-shadow: 0 0 1px #ddd;
    box-shadow: 0 0 1px #ddd;
}



.ntpl_2 .nptl_col2 .col_goods {
    width: 650px;
    height: 500px;
    margin-right: -1px;

}

.ntpl_2 .nptl_col2 .col_goods .goods_its .goods_item {
    cursor: pointer;
    display: block;
    float: left;
    margin: 0 0 -1px -1px;
    width: 215px;
    height: 248px;
    border: 1px solid #ddd;
    background-color: #fff;
    text-align: center;
}

.ntpl_2 .nptl_col2 .col_goods .goods_its .goods_item img {
    display: block;
    margin: 20px auto 20px;
    width: 175px;
    height: 170px;
}

.ntpl_2 .nptl_col2 .col_goods .goods_its .goods_item .goods_name {
    display: block;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: rgb(51, 51, 51);
    font-family: 宋体, sans-serif;
    text-align: center;
    max-width: 100%;
}

.ntpl_2 .nptl_col2 .col_goods .goods_its .goods_item .goods_name {
    display: block;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: rgb(51, 51, 51);
    font-family: 宋体, sans-serif;
    text-align: center;
    max-width: 100%;
}




/*-- End: 主体内容    专题     专题二 --*/

/*-- End: div 分区  板心     div  分区  专题 --*/

/*最下边*/

#DIV_1 {
    background-position: 50% 0%;
    color: rgb(51, 51, 51);
    height: 200px;
    width: 1440px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 720px 110px;
    transform-origin: 720px 110px;
    background: rgb(251, 251, 251) url("http://s6.mogucdn.com/pic/140807/foot_ieydomrxmfswgnrymiytambqhayde_24x160.png") repeat-x scroll 50% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 19.2px tahoma, arial, sans-serif;
    margin: 90px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
    padding: 0px 0px 20px;
}/*#DIV_1*/

#DIV_2 {
    color: rgb(51, 51, 51);
    height: 124px;
    width: 1200px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 600.5px 80px;
    transform-origin: 600.5px 80px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 19.2px tahoma, arial, sans-serif;
    margin: 0px 119.5px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 30px 0px 6px 1px;
}/*#DIV_2*/

#DIV_2:after {
    clear: both;
    color: rgb(51, 51, 51);
    content: '"."';
    display: block;
    visibility: hidden;
    width: 1200px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 600px 0px;
    transform-origin: 600px 0px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 0px / 0px tahoma, arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_2:after*/

#DIV_3 {
    color: rgb(51, 51, 51);
    float: left;
    height: 124px;
    width: 246px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 123px 62px;
    transform-origin: 123px 62px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 19.2px tahoma, arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
}/*#DIV_3*/

#A_4 {
    color: rgb(51, 51, 51);
    display: block;
    height: 38px;
    text-decoration: none;
    width: 246px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 123px 19px;
    transform-origin: 123px 19px;
    background: rgba(0, 0, 0, 0) url("http://s17.mogucdn.com/p1/160411/upload_ifqwmnzxgjrdcyteg4zdambqgyyde_304x76.png") no-repeat scroll 0% 0% / 152px padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 19.2px tahoma, arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#A_4*/

#DIV_5 {
    color: rgb(51, 51, 51);
    height: 84px;
    width: 246px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 123px 42px;
    transform-origin: 123px 42px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 19.2px tahoma, arial, sans-serif;
    margin: 2px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
}/*#DIV_5*/

#P_6, #P_8, #P_10, #P_14 {
    color: rgb(153, 153, 153);
    height: 16px;
    width: 246px;
    column-rule-color: rgb(153, 153, 153);
    perspective-origin: 123px 8px;
    transform-origin: 123px 8px;
    border: 0px none rgb(153, 153, 153);
    font: normal normal normal normal 12px / 16px tahoma, arial, sans-serif;
    margin: 5px 0px 0px;
    outline: rgb(153, 153, 153) none 0px;
}/*#P_6, #P_8, #P_10, #P_14*/

#A_7, #A_9 {
    color: rgb(153, 153, 153);
    cursor: pointer;
    text-decoration: none;
    column-rule-color: rgb(153, 153, 153);
    border: 0px none rgb(153, 153, 153);
    font: normal normal normal normal 12px / 16px tahoma, arial, sans-serif;
    outline: rgb(153, 153, 153) none 0px;
}/*#A_7, #A_9*/

#A_11 {
    color: rgb(153, 153, 153);
    cursor: pointer;
    display: inline-block;
    height: 20px;
    text-decoration: none;
    width: 191.219px;
    column-rule-color: rgb(153, 153, 153);
    perspective-origin: 95.6094px 10px;
    transform-origin: 95.6094px 10px;
    border: 0px none rgb(153, 153, 153);
    font: normal normal normal normal 12px / 20px tahoma, arial, sans-serif;
    outline: rgb(153, 153, 153) none 0px;
}/*#A_11*/

#IMG_12 {
    color: rgb(153, 153, 153);
    cursor: pointer;
    display: block;
    float: left;
    height: 20px;
    vertical-align: middle;
    width: 20px;
    column-rule-color: rgb(153, 153, 153);
    perspective-origin: 10px 10px;
    transform-origin: 10px 10px;
    border: 0px none rgb(153, 153, 153);
    font: normal normal normal normal 12px / 20px tahoma, arial, sans-serif;
    outline: rgb(153, 153, 153) none 0px;
}/*#IMG_12*/

#SPAN_13 {
    color: rgb(153, 153, 153);
    cursor: pointer;
    column-rule-color: rgb(153, 153, 153);
    border: 0px none rgb(153, 153, 153);
    font: normal normal normal normal 12px / 20px tahoma, arial, sans-serif;
    outline: rgb(153, 153, 153) none 0px;
}/*#SPAN_13*/

#DIV_15 {
    color: rgb(51, 51, 51);
    float: left;
    height: 120px;
    width: 938px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 469px 60px;
    transform-origin: 469px 60px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 19.2px tahoma, arial, sans-serif;
    margin: 0px 0px 0px -30px;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_15*/

#DL_16 {
    color: rgb(51, 51, 51);
    float: left;
    height: 83px;
    width: 48px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 24px 49px;
    transform-origin: 24px 49px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 19.2px tahoma, arial, sans-serif;
    margin: 0px 0px 0px 121px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 0px 15px;
}/*#DL_16*/

#DT_17 {
    color: rgb(51, 51, 51);
    height: 14px;
    width: 48px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 24px 8.5px;
    transform-origin: 24px 8.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal bold normal 12px / 19.2px tahoma, arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 0px 3px;
}/*#DT_17*/

#DD_18, #DD_20, #DD_22 {
    color: rgb(51, 51, 51);
    height: 14px;
    width: 48px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 24px 7px;
    transform-origin: 24px 7px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 19.2px tahoma, arial, sans-serif;
    margin: 8px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#DD_18, #DD_20, #DD_22*/

#A_19, #A_21, #A_27, #A_29, #A_31, #A_35, #A_37, #A_39, #A_41 {
    color: rgb(102, 102, 102);
    text-decoration: none;
    column-rule-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal normal 12px / 19.2px tahoma, arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}/*#A_19, #A_21, #A_27, #A_29, #A_31, #A_35, #A_37, #A_39, #A_41*/

#A_23 {
    color: rgb(102, 102, 102);
    text-decoration: none;
    column-rule-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal normal 12px / 19.2px tahoma, arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}/*#A_23*/

#DL_24 {
    color: rgb(51, 51, 51);
    float: left;
    height: 83px;
    width: 60px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 30px 49px;
    transform-origin: 30px 49px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 19.2px tahoma, arial, sans-serif;
    margin: 0px 0px 0px 121px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 0px 15px;
}/*#DL_24*/

#DT_25, #DT_33 {
    color: rgb(51, 51, 51);
    height: 14px;
    width: 60px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 30px 8.5px;
    transform-origin: 30px 8.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal bold normal 12px / 19.2px tahoma, arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 0px 3px;
}/*#DT_25, #DT_33*/

#DD_26, #DD_28, #DD_34, #DD_38 {
    color: rgb(51, 51, 51);
    height: 14px;
    width: 60px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 30px 7px;
    transform-origin: 30px 7px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 19.2px tahoma, arial, sans-serif;
    margin: 8px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#DD_26, #DD_28, #DD_34, #DD_38*/

#DD_30, #DD_36 {
    color: rgb(51, 51, 51);
    height: 14px;
    width: 60px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 30px 7px;
    transform-origin: 30px 7px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 19.2px tahoma, arial, sans-serif;
    margin: 8px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#DD_30, #DD_36*/

#DL_32 {
    color: rgb(51, 51, 51);
    float: left;
    height: 105px;
    width: 60px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 30px 60px;
    transform-origin: 30px 60px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 19.2px tahoma, arial, sans-serif;
    margin: 0px 0px 0px 121px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 0px 15px;
}/*#DL_32*/

#DD_40 {
    color: rgb(51, 51, 51);
    height: 14px;
    width: 60px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 30px 7px;
    transform-origin: 30px 7px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 19.2px tahoma, arial, sans-serif;
    margin: 8px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#DD_40*/

#DL_42 {
    color: rgb(51, 51, 51);
    float: left;
    height: 53px;
    width: 286px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 143px 34px;
    transform-origin: 143px 34px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 19.2px tahoma, arial, sans-serif;
    margin: 0px 0px 0px 121px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 0px 15px;
}/*#DL_42*/

#DT_43 {
    color: rgb(51, 51, 51);
    height: 14px;
    width: 286px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 143px 8.5px;
    transform-origin: 143px 8.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal bold normal 12px / 19.2px tahoma, arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 0px 3px;
}/*#DT_43*/

#DD_44 {
    color: rgb(51, 51, 51);
    height: 28px;
    width: 298px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 149px 14px;
    transform-origin: 149px 14px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 28px tahoma, arial, sans-serif;
    margin: 8px 0px 0px -12px;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
}/*#DD_44*/

#A_45 {
    background-position: -486px -50px;
    color: rgb(102, 102, 102);
    display: block;
    float: left;
    height: 28px;
    text-decoration: none;
    vertical-align: top;
    width: 50px;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 25px 14px;
    transform-origin: 25px 14px;
    background: rgba(0, 0, 0, 0) url("https://www.mogujie.com/img/pay/split.png") no-repeat scroll -486px -50px / auto padding-box border-box;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal normal 12px / 28px tahoma, arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}/*#A_45*/

#A_46 {
    background-position: -240px -50px;
    color: rgb(102, 102, 102);
    display: block;
    float: left;
    height: 28px;
    text-decoration: none;
    vertical-align: top;
    width: 164px;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 82px 14px;
    transform-origin: 82px 14px;
    background: rgba(0, 0, 0, 0) url("https://www.mogujie.com/img/pay/split.png") no-repeat scroll -240px -50px / auto padding-box border-box;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal normal 12px / 28px tahoma, arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}/*#A_46*/

#A_47 {
    background-position: -400px -50px;
    color: rgb(102, 102, 102);
    display: block;
    float: left;
    height: 28px;
    text-decoration: none;
    vertical-align: top;
    width: 84px;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 42px 14px;
    transform-origin: 42px 14px;
    background: rgba(0, 0, 0, 0) url("https://www.mogujie.com/img/pay/split.png") no-repeat scroll -400px -50px / auto padding-box border-box;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal normal 12px / 28px tahoma, arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}/*#A_47*/

#DIV_48 {
    color: rgb(51, 51, 51);
    height: 19px;
    width: 1200px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 600.5px 15px;
    transform-origin: 600.5px 15px;
    background: rgb(251, 251, 251) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 1px solid rgb(229, 229, 229);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 0px none rgb(51, 51, 51);
    border-left: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 19.2px tahoma, arial, sans-serif;
    margin: 10px 119.5px 0px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 10px 0px 0px 1px;
}/*#DIV_48*/

#DIV_48:after {
    clear: both;
    color: rgb(51, 51, 51);
    content: '"."';
    display: block;
    visibility: hidden;
    width: 1200px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 600px 0px;
    transform-origin: 600px 0px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 0px / 0px tahoma, arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_48:after*/

#UL_49 {
    color: rgb(51, 51, 51);
    width: 1200px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 600px 0px;
    transform-origin: 600px 0px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 19.2px tahoma, arial, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}/*#UL_49*/

#LI_50 {
    color: rgb(51, 51, 51);
    float: left;
    height: 19px;
    width: 52.25px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 26.125px 9.5px;
    transform-origin: 26.125px 9.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 19.2px tahoma, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_50*/

#LI_51, #LI_65, #LI_73, #LI_77 {
    color: rgb(51, 51, 51);
    float: left;
    height: 19px;
    width: 64px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 32px 9.5px;
    transform-origin: 32px 9.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 19.2px tahoma, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_51, #LI_65, #LI_73, #LI_77*/

#A_52, #A_54, #A_56, #A_58, #A_60, #A_62, #A_64, #A_68, #A_70, #A_72, #A_76 {
    color: rgb(77, 77, 77);
    text-align: left;
    text-decoration: none;
    column-rule-color: rgb(77, 77, 77);
    border: 0px none rgb(77, 77, 77);
    font: normal normal normal normal 12px / 19.2px tahoma, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(77, 77, 77) none 0px;
    padding: 10px 14px;
}/*#A_52, #A_54, #A_56, #A_58, #A_60, #A_62, #A_64, #A_68, #A_70, #A_72, #A_76*/

#LI_53 {
    color: rgb(51, 51, 51);
    float: left;
    height: 19px;
    width: 76px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 38px 9.5px;
    transform-origin: 38px 9.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 19.2px tahoma, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_53*/

#LI_55, #LI_57, #LI_61, #LI_67, #LI_71, #LI_75 {
    color: rgb(51, 51, 51);
    float: left;
    height: 19px;
    width: 88px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 44px 9.5px;
    transform-origin: 44px 9.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 19.2px tahoma, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_55, #LI_57, #LI_61, #LI_67, #LI_71, #LI_75*/

#LI_59, #LI_63 {
    color: rgb(51, 51, 51);
    float: left;
    height: 19px;
    width: 88px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 44px 9.5px;
    transform-origin: 44px 9.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 19.2px tahoma, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_59, #LI_63*/

#A_66, #A_74 {
    color: rgb(77, 77, 77);
    text-align: left;
    text-decoration: none;
    column-rule-color: rgb(77, 77, 77);
    border: 0px none rgb(77, 77, 77);
    font: normal normal normal normal 12px / 19.2px tahoma, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(77, 77, 77) none 0px;
    padding: 10px 14px;
}/*#A_66, #A_74*/

#LI_69 {
    color: rgb(51, 51, 51);
    float: left;
    height: 19px;
    width: 52px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 26px 9.5px;
    transform-origin: 26px 9.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px / 19.2px tahoma, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_69*/

#A_78 {
    color: rgb(77, 77, 77);
    text-align: left;
    text-decoration: none;
    column-rule-color: rgb(77, 77, 77);
    border: 0px none rgb(77, 77, 77);
    font: normal normal normal normal 12px / 19.2px tahoma, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(77, 77, 77) none 0px;
    padding: 10px 14px;
}/*#A_78*/


